# **Absenteeism_at_work - EDA(Exploratory Data Analysis**

In [1]:
import pandas as pd  # Data Manipulation
import numpy as np  # Numerical Calculations
import matplotlib.pyplot as plt  # Data Visualization
import seaborn as sns  # Adavanced Data Visualization

In [3]:
# Read the file
df = pd.read_excel('Absenteeism_at_work.xls')
df

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
0,11,26,7,3,1,289,36,13,33,239554,...,0,1,2,1,0,1,90,172,30,4
1,36,0,7,3,1,118,13,18,50,239554,...,1,1,1,1,0,0,98,178,31,0
2,3,23,7,4,1,179,51,18,38,239554,...,0,1,0,1,0,0,89,170,31,2
3,7,7,7,5,1,279,5,14,39,239554,...,0,1,2,1,1,0,68,168,24,4
4,11,23,7,5,1,289,36,13,33,239554,...,0,1,2,1,0,1,90,172,30,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,11,14,7,3,1,289,36,13,33,264604,...,0,1,2,1,0,1,90,172,30,8
736,1,11,7,3,1,235,11,14,37,264604,...,0,3,1,0,0,1,88,172,29,4
737,4,0,0,3,1,118,14,13,40,271219,...,0,1,1,1,0,8,98,170,34,0
738,8,0,0,4,2,231,35,14,39,271219,...,0,1,2,1,0,2,100,170,35,0
739,35,0,0,6,3,179,45,14,53,271219,...,0,1,1,0,0,1,77,175,25,0

In [4]:
df.shape

(740, 21)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 740 entries, 0 to 739
Data columns (total 21 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   ID                               740 non-null    int64
 1   Reason for absence               740 non-null    int64
 2   Month of absence                 740 non-null    int64
 3   Day of the week                  740 non-null    int64
 4   Seasons                          740 non-null    int64
 5   Transportation expense           740 non-null    int64
 6   Distance from Residence to Work  740 non-null    int64
 7   Service time                     740 non-null    int64
 8   Age                              740 non-null    int64
 9   Work load Average/day            740 non-null    int64
 10  Hit target                       740 non-null    int64
 11  Disciplinary failure             740 non-null    int64
 12  Education                        740 non-null    int64
 13  Son                              740 non-null    int64
 14  Social drinker                   740 non-null    int64
 15  Social smoker                    740 non-null    int64
 16  Pet                              740 non-null    int64
 17  Weight                           740 non-null    int64
 18  Height                           740 non-null    int64
 19  Body mass index                  740 non-null    int64
 20  Absenteeism time in hours        740 non-null    int64
dtypes: int64(21)
memory usage: 121.5 KB

In [6]:
df.dtypes

ID                                 int64
Reason for absence                 int64
Month of absence                   int64
Day of the week                    int64
Seasons                            int64
Transportation expense             int64
Distance from Residence to Work    int64
Service time                       int64
Age                                int64
Work load Average/day              int64
Hit target                         int64
Disciplinary failure               int64
Education                          int64
Son                                int64
Social drinker                     int64
Social smoker                      int64
Pet                                int64
Weight                             int64
Height                             int64
Body mass index                    int64
Absenteeism time in hours          int64
dtype: object

In [7]:
df.columns

Index(['ID', 'Reason for absence', 'Month of absence', 'Day of the week',
       'Seasons', 'Transportation expense', 'Distance from Residence to Work',
       'Service time', 'Age', 'Work load Average/day ', 'Hit target',
       'Disciplinary failure', 'Education', 'Son', 'Social drinker',
       'Social smoker', 'Pet', 'Weight', 'Height', 'Body mass index',
       'Absenteeism time in hours'],
      dtype='object')

In [8]:
df.describe()

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
count,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,...,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000
mean,18.017568,19.216216,6.324324,3.914865,2.544595,221.329730,29.631081,12.554054,36.450000,271490.235135,...,0.054054,1.291892,1.018919,0.567568,0.072973,0.745946,79.035135,172.114865,26.677027,6.924324
std,11.021247,8.433406,3.436287,1.421675,1.111831,66.952223,14.836788,4.384873,6.478772,39058.116188,...,0.226277,0.673238,1.098489,0.495749,0.260268,1.318258,12.883211,6.034995,4.285452,13.330998
min,1.000000,0.000000,0.000000,2.000000,1.000000,118.000000,5.000000,1.000000,27.000000,205917.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,56.000000,163.000000,19.000000,0.000000
25%,9.000000,13.000000,3.000000,3.000000,2.000000,179.000000,16.000000,9.000000,31.000000,244387.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,69.000000,169.000000,24.000000,2.000000
50%,18.000000,23.000000,6.000000,4.000000,3.000000,225.000000,26.000000,13.000000,37.000000,264249.000000,...,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,83.000000,170.000000,25.000000,3.000000
75%,28.000000,26.000000,9.000000,5.000000,4.000000,260.000000,50.000000,16.000000,40.000000,294217.000000,...,0.000000,1.000000,2.000000,1.000000,0.000000,1.000000,89.000000,172.000000,31.000000,8.000000
max,36.000000,28.000000,12.000000,6.000000,4.000000,388.000000,52.000000,29.000000,58.000000,378884.000000,...,1.000000,4.000000,4.000000,1.000000,1.000000,8.000000,108.000000,196.000000,38.000000,120.000000

In [10]:
df.isnull().sum()

ID                                 0
Reason for absence                 0
Month of absence                   0
Day of the week                    0
Seasons                            0
Transportation expense             0
Distance from Residence to Work    0
Service time                       0
Age                                0
Work load Average/day              0
Hit target                         0
Disciplinary failure               0
Education                          0
Son                                0
Social drinker                     0
Social smoker                      0
Pet                                0
Weight                             0
Height                             0
Body mass index                    0
Absenteeism time in hours          0
dtype: int64

In [11]:
df.duplicated().sum()

34

In [12]:
df[df.duplicated()]

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
16,3,23,7,6,1,179,51,18,38,239554,...,0,1,0,1,0,0,89,170,31,2
68,34,23,10,3,4,118,10,10,37,253465,...,0,1,0,0,0,0,83,172,28,3
88,28,23,11,4,4,225,26,9,28,306345,...,0,1,1,0,0,2,69,169,24,1
109,10,22,12,4,4,361,52,3,28,261306,...,0,1,1,1,0,4,80,172,27,8
127,34,27,1,2,2,118,10,10,37,308593,...,0,1,0,0,0,0,83,172,28,2
128,34,27,1,3,2,118,10,10,37,308593,...,0,1,0,0,0,0,83,172,28,2
131,34,27,1,4,2,118,10,10,37,308593,...,0,1,0,0,0,0,83,172,28,2
132,27,23,1,5,2,184,42,7,27,308593,...,0,1,0,0,0,0,58,167,21,2
133,34,27,1,5,2,118,10,10,37,308593,...,0,1,0,0,0,0,83,172,28,2
305,5,23,10,2,4,235,20,13,43,265017,...,0,1,1,1,0,0,106,167,38,2
351,3,28,12,6,4,179,51,18,38,236629,...,0,1,0,1,0,0,89,170,31,1
376,3,27,2,4,2,179,51,18,38,251818,...,0,1,0,1,0,0,89,170,31,3
385,3,27,2,4,2,179,51,18,38,251818,...,0,1,0,1,0,0,89,170,31,3
386,3,27,2,6,2,179,51,18,38,251818,...,0,1,0,1,0,0,89,170,31,3
388,3,27,2,4,2,179,51,18,38,251818,...,0,1,0,1,0,0,89,170,31,3
389,3,27,2,6,2,179,51,18,38,251818,...,0,1,0,1,0,0,89,170,31,3
440,22,23,5,4,3,179,26,9,30,246074,...,0,3,0,0,0,0,56,171,19,3
477,24,28,7,3,1,246,25,16,41,230290,...,0,1,0,1,0,0,67,170,23,2
496,24,28,9,3,1,246,25,16,41,261756,...,0,1,0,1,0,0,67,170,23,1
560,28,23,12,4,4,225,26,9,28,280549,...,0,1,1,0,0,2,69,169,24,3
605,3,27,2,4,2,179,51,18,38,264249,...,0,1,0,1,0,0,89,170,31,2
607,3,27,2,6,2,179,51,18,38,264249,...,0,1,0,1,0,0,89,170,31,2
610,3,27,2,2,2,179,51,18,38,264249,...,0,1,0,1,0,0,89,170,31,2
615,3,27,2,4,2,179,51,18,38,264249,...,0,1,0,1,0,0,89,170,31,2
616,3,27,2,5,2,179,51,18,38,264249,...,0,1,0,1,0,0,89,170,31,2
631,3,27,3,4,2,179,51,18,38,222196,...,0,1,0,1,0,0,89,170,31,2
632,3,27,3,5,2,179,51,18,38,222196,...,0,1,0,1,0,0,89,170,31,3
641,3,27,3,4,2,179,51,18,38,222196,...,0,1,0,1,0,0,89,170,31,2
643,3,27,3,5,2,179,51,18,38,222196,...,0,1,0,1,0,0,89,170,31,3
666,22,27,4,6,3,179,26,9,30,246288,...,0,3,0,0,0,0,56,171,19,2
669,22,27,4,6,3,179,26,9,30,246288,...,0,3,0,0,0,0,56,171,19,2
673,22,27,4,6,3,179,26,9,30,246288,...,0,3,0,0,0,0,56,171,19,2
699,15,28,5,5,3,291,31,12,40,237656,...,0,1,1,1,0,1,73,171,25,2
700,22,27,5,6,3,179,26,9,30,237656,...,0,3,0,0,0,0,56,171,19,2

In [18]:
# BMI Category:
df["BMI Category"] = np.where(df['Body mass index'] < 25, "Underweight",
                              np.where(df['Body mass index'] < 30, "Normal Weight",
                                       np.where(df['Body mass index'] < 35, "Over Weight", "Obese")))

In [19]:
print(df["BMI Category"])

0        Over Weight
1        Over Weight
2        Over Weight
3        Underweight
4        Over Weight
           ...
735      Over Weight
736    Normal Weight
737      Over Weight
738            Obese
739    Normal Weight
Name: BMI Category, Length: 740, dtype: object

In [17]:
df["BMI Category"].head(10)

0            Obese
1            Obese
2            Obese
3    Normal Weight
4            Obese
5            Obese
6      Over Weight
7    Normal Weight
8      Over Weight
9      Over Weight
Name: BMI Category, dtype: object

In [24]:
# Create an Age Group Column
df["Age Group"] = np.where(df['Age'] < 35, "Young",
                           np.where(df['Age'] < 40, "Adult",
                                    np.where(df['Age'] < 45, "Middle Aged", "Senior")))

In [25]:
print(df["Age Group"])

0            Young
1           Senior
2            Adult
3            Adult
4            Young
          ...
735          Young
736          Adult
737    Middle Aged
738          Adult
739         Senior
Name: Age Group, Length: 740, dtype: object

In [26]:
df["Age Group"].value_counts()

Age Group
Young          292
Adult          249
Middle Aged    116
Senior          83
Name: count, dtype: int64

In [27]:
df.columns

Index(['ID', 'Reason for absence', 'Month of absence', 'Day of the week',
       'Seasons', 'Transportation expense', 'Distance from Residence to Work',
       'Service time', 'Age', 'Work load Average/day ', 'Hit target',
       'Disciplinary failure', 'Education', 'Son', 'Social drinker',
       'Social smoker', 'Pet', 'Weight', 'Height', 'Body mass index',
       'Absenteeism time in hours', 'BMI Category', 'Age Group'],
      dtype='object')

In [29]:
df.shape

(740, 23)

In [30]:
# Create  Season group
df["Seasons Name"] = np.where(df['Seasons'] == 1, "Spring",
                              np.where(df["Seasons"] == 2 , "Summer",
                                       np.where(df['Seasons'] ==3, "Autumn", "Winter")))

In [31]:
print(df["Seasons Name"])

0      Spring
1      Spring
2      Spring
3      Spring
4      Spring
        ...
735    Spring
736    Spring
737    Spring
738    Summer
739    Autumn
Name: Seasons Name, Length: 740, dtype: object

In [32]:
df["Seasons Name"].value_counts()

Seasons Name
Winter    195
Summer    192
Autumn    183
Spring    170
Name: count, dtype: int64

In [41]:
df['education_level']=np.where(df['Education']==1,'High School',
                               np.where(df['Education']==2,'Graduate',
                                        np.where(df['Education']==3,'Post Graduate','Doctorate')))

In [42]:
print(df['education_level'].value_counts())

education_level
High School      611
Post Graduate     79
Graduate          46
Doctorate          4
Name: count, dtype: int64

In [43]:
df.shape

(740, 27)

In [44]:
# create a new column by using

df['pet_column']=np.where(df['Pet']==0,"no pets",
                          np.where(df['Pet']<2,"having 1 pet","having 2 pets"))
print(df['pet_column'].value_counts())

pet_column
no pets          460
having 2 pets    142
having 1 pet     138
Name: count, dtype: int64

In [45]:
df.shape

(740, 27)

In [46]:
df.head(2)

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Weight,Height,Body mass index,Absenteeism time in hours,BMI Category,Age Group,Seasons Name,education_level,Education Level,pet_column
0,11,26,7,3,1,289,36,13,33,239554,...,90,172,30,4,Over Weight,Young,Spring,High School,High School,having 1 pet
1,36,0,7,3,1,118,13,18,50,239554,...,98,178,31,0,Over Weight,Senior,Spring,High School,High School,no pets

In [47]:
df.dtypes

ID                                  int64
Reason for absence                  int64
Month of absence                    int64
Day of the week                     int64
Seasons                             int64
Transportation expense              int64
Distance from Residence to Work     int64
Service time                        int64
Age                                 int64
Work load Average/day               int64
Hit target                          int64
Disciplinary failure                int64
Education                           int64
Son                                 int64
Social drinker                      int64
Social smoker                       int64
Pet                                 int64
Weight                              int64
Height                              int64
Body mass index                     int64
Absenteeism time in hours           int64
BMI Category                       object
Age Group                          object
Seasons Name                       object
education_level                    object
Education Level                    object
pet_column                         object
dtype: object

In [48]:
df["Education Level"] = np.where(df['Education'] == 1, "High school",
                                 np.where(df['Education'] == 2, "Graduate",
                                          np.where(df['Education'] == 3, "Post Graduate",
                                                   "Docterate",)))

In [49]:
print(df["Education Level"])

0        High school
1        High school
2        High school
3        High school
4        High school
           ...
735      High school
736    Post Graduate
737      High school
738      High school
739      High school
Name: Education Level, Length: 740, dtype: object

In [62]:
df.head(2)

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Weight,Height,Body mass index,Absenteeism time in hours,BMI Category,Age Group,Seasons Name,education_level,Education Level,pet_column
0,11,26,7,3,1,289,36,13,33,239554,...,90,172,30,4,Over Weight,Young,Spring,High School,High school,having 1 pet
1,36,0,7,3,1,118,13,18,50,239554,...,98,178,31,0,Over Weight,Senior,Spring,High School,High school,no pets

In [50]:
numerical_col = df.select_dtypes(include=['int64', 'float64']).columns
numerical_col

Index(['ID', 'Reason for absence', 'Month of absence', 'Day of the week',
       'Seasons', 'Transportation expense', 'Distance from Residence to Work',
       'Service time', 'Age', 'Work load Average/day ', 'Hit target',
       'Disciplinary failure', 'Education', 'Son', 'Social drinker',
       'Social smoker', 'Pet', 'Weight', 'Height', 'Body mass index',
       'Absenteeism time in hours'],
      dtype='object')

In [51]:
numerical_col.shape

(21,)

In [54]:
categorical_col = df.select_dtypes(exclude=['int64', 'float64']).columns
categorical_col

Index(['BMI Category', 'Age Group', 'Seasons Name', 'education_level',
       'Education Level', 'pet_column'],
      dtype='object')

In [57]:
categorical_col1 = df.select_dtypes(include=['object']).columns
categorical_col1

Index(['BMI Category', 'Age Group', 'Seasons Name', 'education_level',
       'Education Level', 'pet_column'],
      dtype='object')

In [58]:
import matplotlib.pyplot as plt   #Basic visuals
import seaborn as sns # Advanced visuals

In [59]:
# histrogram talks about the Distribution of the data!!!!
numerical_col

Index(['ID', 'Reason for absence', 'Month of absence', 'Day of the week',
       'Seasons', 'Transportation expense', 'Distance from Residence to Work',
       'Service time', 'Age', 'Work load Average/day ', 'Hit target',
       'Disciplinary failure', 'Education', 'Son', 'Social drinker',
       'Social smoker', 'Pet', 'Weight', 'Height', 'Body mass index',
       'Absenteeism time in hours'],
      dtype='object')

In [74]:
# I want to plot the Histogram
plt.hist(df['Age'],bins=30)
plt.title('Age Distribution')
plt.xlabel('Age')
plt.ylabel('Frequency')
plt.show()

TypeError: 'tuple' object is not callable

In [72]:
df['Age'].duplicated().sum()

718

In [75]:
df.nunique()

ID                                 36
Reason for absence                 28
Month of absence                   13
Day of the week                     5
Seasons                             4
Transportation expense             24
Distance from Residence to Work    25
Service time                       18
Age                                22
Work load Average/day              38
Hit target                         13
Disciplinary failure                2
Education                           4
Son                                 5
Social drinker                      2
Social smoker                       2
Pet                                 6
Weight                             26
Height                             14
Body mass index                    17
Absenteeism time in hours          19
BMI Category                        4
Age Group                           4
Seasons Name                        4
education_level                     4
Education Level                     4
pet_column                          3
dtype: int64

In [78]:
sns.histplot(df['Age'])

TypeError: 'tuple' object is not callable

In [79]:
df.corr()

ValueError: could not convert string to float: 'Over Weight'

In [80]:
sns.boxplot(df.Age)

TypeError: 'tuple' object is not callable

In [82]:
sns.boxplot(df['Age'])

TypeError: 'tuple' object is not callable